@font-face {
  font-family: 'Roboto', sans-serif;
  src : url("https://fonts.googleapis.com/css?family=Roboto:100&display=swap");
}  

@mixin fonts () {
  text-shadow: 0px 0px 2px white;
  margin: auto;
  text-align: center;
  font: Roboto;
  font-weight: 100;
}

html {
  width: 100%;
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    #app {
      width: 100%;
      height: 100%;
      background-color: black;
      width: 100%;
      .board {
        padding-top: 15vmin;
        width: 100%;
        height: 100%;
        h1 {
          @include fonts;
          font-size: 7vmin;
        }
        p {
          @include fonts;
          margin-top: 2vmin;
          font-size: 12vmin;
        }
        .menu {
          border-radius: 2vmin;
          background-color: rgba(15, 15, 15, 0.26);
          margin-top: 4vmin;
          height: 290px;
          .switch {
            padding-top: 20px;
            .line {
              background-color: rgba(15, 15, 15, 0);
              color: white;
            }
          }
        }
      }
    }
  }
}
